.input-group {
    width: 600px;
}

.input-group input {
    text-align: center;
}

.search {
    width: unset;
}

#Amount{
    margin-top: 30px;
}

#Btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
}

.floating-error {
    color: red;
    background-color: white;
    position: absolute;
    margin-bottom: -150px;
    width: 25rem;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 5px;
    display: none;
}

@media (max-width: 650px) {
    .input-group {
        width: 100%;
    }

    .input-group input {
        font-size: 0.875rem;
    }

    .floating-error {
        width: 90%;
        max-width: 350px;
    }

    #Amount {
        gap: 5px;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    #Amount label {
        width: 100%;
        border-radius: 5px;
        max-width: 290px;
        font-size: 0.875rem;
    }

    #maxLimit {
        border-radius: 5px;
        width: 100%;
        max-width: 100px;
    }

    .btn {
        border-radius: 5px !important;
        font-size: 0.875rem !important;
    }

    .nav {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}