.input-group {
    flex-wrap: unset;
    width: 600px;
}

.input-group input {
    text-align: center;
}

#Btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
}

@media (max-width: 650px) {
    .input-group {
        width: 100%;
    }

    .input-group input {
        font-size: 0.875rem;
    }
    #Amount {
        gap: 5px;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    #Amount label {
        width: 100%;
        border-radius: 5px;
        max-width: 290px;
        font-size: 0.875rem;
    }

    #maxLimit {
        border-radius: 5px;
        width: 100%;
        max-width: 100px;
    }

    .btn {
        border-radius: 5px!important;
        font-size: 0.875rem !important;
    }

    .nav{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}