header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-inline: 30px;
    padding: 10px;
}

.header-container {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header img {
    height: 90px;
    cursor: pointer;
}

.header-search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25rem;
    gap: 1rem;
}

.pokedex-footer {
    text-align: center;
    padding: 20px 0;
}

.pokedex-footer p {
    font-size: 1rem;
    margin: 20px 10px;
}

.pokedex-footer a {
    color: yellow;
    text-decoration: none;
}

.pokedex-footer a:hover {
    text-decoration: underline;
}

@media (max-width: 700px) {
    .header-container {
        flex-direction: column;
        gap: 10px;
    }

    .header-search {
        width: unset;
    }

    footer p {
        font-size: 0.875rem;
    }
}